<mat-accordion *ngIf=!loading>
  <mat-expansion-panel *ngFor="let service of availableServices">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <img matListAvatar height="35px" width="210px" [src]="service.provider.logoUrl" alt="service.provider">
        <!-- {{service.provider.name}} -->
      </mat-panel-title>
      <mat-panel-description>
        {{ service.name}} - {{service.cost}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="flex justify-space-between">
      <div>
        <h2>Summary</h2>
        <p>
          - Brake check and adjustment.<br>
          - Drivetrain check and lubrication top up. <br>
          - Gears checked and aligned. <br>
        </p>
      </div>

      <div>
        <h3>Full description</h3>
        <p>
          We carry out a full bike check before any of our service package checks are commenced.
          We will notify you of any changes required outside of the service. <br>

        </p>
      </div>

      <div>
        <h3>Price - $100</h3>
        <button mat-stroked-button color="primary">
          <i class="material-icons">add</i>Add To Basket
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="loading" class="flex justify-space-around loading-container">
  <img matCardAvatar width="200px" src="https://66.media.tumblr.com/a7b2b2489b4606f7d5053a62fbb00fcb/tumblr_nk3fc1O4F51r8tkaro1_400.gif" alt="loading">
</div>
