<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Bicycle Central</mat-card-title>
    <mat-card-subtitle>Servicing/Repair Comparison</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
      <nav mat-tab-nav-bar>
          <a mat-tab-link
             *ngFor="let link of comparisonLinks"
             [routerLink]="link.path"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>

        <router-outlet></router-outlet>
  </mat-card-content>

  <mat-card-footer></mat-card-footer>
</mat-card>
