/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Reusable styles */
.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-end {
  align-content: flex-end;
}

.flex-start {
  align-content: flex-start;
}

.flex-direction-row-reverse {
  flex-direction:  row-reverse;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-right {
  justify-content: right;
}
